*
{
	font-family: sans-serif;
	color:whitesmoke;
}
#headLogo, img
{
	float: left;
	height: 150px;
	width: 150px;
	border-style: groove;
	border-color: #E2DED0;
	border-radius: 5%;
}
header h1, header p
{
	text-align: right;
}
header p
{
	font-weight: normal;
	font-size: 20px;
	text-align: center;
	margin-right: 15%;
}
header h1
{
	font-family: serif;
	font-size: 70px;
	text-align: center;
	margin-right: 12%;
}
nav {
	
	background-color: #110f21 ;
	border-style: groove;
	border-left: 50px;
	border-right: 50px;
	border-color: #E2DED0;
	font-family: 'Montserrat', sans-serif;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
  }
nav li a 
{
	list-style-type: none;
}
nav a
{
	text-decoration: none;
	margin: 2px;
}
body

{
	background: linear-gradient(to right, #000000, #483d8b, #000000);
}

ul 
{
	list-style: none;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}

nav li {
	display: flex;
	margin-right: 5px;
}

nav a {
	color: #fff;
	text-decoration: none;
	padding: 10px 15px;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 400;
	transition: all 0.3s ease-in-out;
}

nav a:hover {
	color: #647C90;
}

.hide-nav nav {
display: none;
}

.hide-ul {
display: none;
}

.black-white {
filter: grayscale(100%);
}
button {
	background-color: navy;
	border: solid;
	border-color: navy;
}
button:hover {
	border: outset;
	border-color: navy;
}
button:active {
	background-color: red;
	border: inset;
        border-color: red;
}
#print-btn{
	position: fixed;
	bottom: 10px;
	left: 30px;
	transform: translateX(-50%);
}
.hide-btn {
	display: none;
}

@media print {
	.hide-ul {
	  display: none;
	}
	.hide-button {
		display: none;
	}
}

#header{
  font-size: 30px;
  margin: 0;
  padding: 1em;
  color: #fff;
  text-align: center;
  text-shadow: #110f21;
  
}

#helpme{
	display: block;
	text-align: left;
	width: 70%;
	display: inline;
	font-size: 120%;
	margin-left: 20%;
}

#book img{
	height: 500px;
	width: 500px;
	float: right;
	border: none;
}

h2{
	font-size:180%;
}